<p>book-ticket works!</p>
<h1>Travel Details</h1>
<div>
    <div>
        <span>Banglore</span>-> <span>Kolkata</span>
        </div>
        <div>
            <img src="" alt="helo">
        </div>
        <div>
            <span>6:30 </span>
            <span>BLR</span>
        
        </div>
        <div>
            <span>6:30 </span>
            <span>BLR</span>
        
        </div>
        
</div>

<form action="" [formGroup]="travelForm" (ngSubmit)="onSubmit()" novalidate >
    <div class="form-group">
        <label for="">Traveller Name</label> <br>
        <input type="text" placeholder="First Name" formControlName="FName" class="form-control" required>
        <!-- <span class="text-danger" >FirstName is reqiured</span> -->

        <span><input type="text" placeholder="Last Name" formControlName="LName" class="form-control"></span>
        <span><select name="gender" id="" formControlName="gender" class="form-control" required >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            
        </select></span>
    </div>
    <div>

    </div>
   <span>
    <label for="" >Nationality </label> 
    <label for="">Date of Birth</label> 

    
   </span>
   <div class="form-group">
    <span>
        <input type="text" placeholder="Nationality" class="form-control" formControlName="nation">
        <input type="date"  class="form-control" formControlName="dob">
    </span>
   </div>
   <div class="form-group">
    <h2>Contact Details</h2>
    <label for="" >Mobile Number</label><br>
    <input type="number" class="form-control" formControlName="MobileNo"><br>
    <label for="">Email Address</label><br>
    <input type="email" name="" id="" class="form-control" formControlName="email">
   </div>
   
   <div>
    <button type="submit" routerLink="/payment">Continue to payment</button>
   </div>
</form>