<p>book-ticket works!</p>
<h1>Travel detials</h1>
<div>
    <div>
        <span>Banglore</span>-> <span>Kolkata</span>
        </div>
        <div>
            <img src="" alt="helo">
        </div>
        <div>
            <span>6:30 </span>
            <span>BLR</span>
        
        </div>
        <div>
            <span>6:30 </span>
            <span>BLR</span>
        
        </div>
        
</div>

<form action="">
    <div>
        <label for="">Traveller Name</label> <br>
        <span><input type="text" placeholder="First Name"></span>
        <span><input type="text" placeholder="Last Name"></span>
        <span><select name="gender" id=""  >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            
        </select></span>
    </div>
    <div>

    </div>
   <span>
    <label for="">Nationality </label> 
    <label for="">Date of Birth</label> 

    
   </span>
   <div>
    <span>
        <input type="text" placeholder="Nationality">
        <input type="date">
    </span>
   </div>
   <div>
    <h2>Contact Details</h2>
    <label for="">Mobile Number</label><br>
    <input type="number"><br>
    <label for="">Email Address</label><br>
    <input type="email" name="" id="">
   </div>
   
   <div>
    <button routerLink="/payment">Continue to payment</button>
   </div>
</form>