/* .search_section{
height: 330px;
background-color: antiquewhite;
width: 500px;
justify-content: center;
justify-items: center;
}
button{
    width: 200px;
    color: #ffff;
    background-color: #000000;
    border: none;
    height: 30px;
}
button :disabled{
    background-color: #000000;
    color: #ffffff;
}

input type[text]{
    width: 60%;
    padding-left: 200px;
}
.select{
    width: 50px;;
    height: 20px;
}
h1{
    margin-left: 120px;
}
.persons{
    align-items: baseline;
    
} */
