<p>search works!</p>
<div class="search_section">
    <h1>Search Flights</h1>
    <div>
        <span><input type="radio" value=" One " name="way">One Way</span>
        <span><input type="radio" value=" round" name="way">Round Trip</span>
    
    
    </div>
    <form action="">
    <label for="">From</label>
    <input type="text"  required>
    <svg width="16" height="14" class="c-pointer"><defs><path id="a" d="M0 0h16v16H0z"></path></defs><g transform="translate(0 -1)" fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><g mask="url(#b)" fill="#36C"><path d="M3.556 7L0 11l3.556 4v-3h6.222v-2H3.556V7zM16 5l-3.556-4v3H6.222v2h6.222v3L16 5z"></path></g></g></svg> 
    <label for="">To</label>
    
    <input type="text" placeholder="To" required>
    <div>
        <label for="">Depart On</label>
    <input type="text">
    
    </div>
    <div class="persons">
        <div>
            <label for="">Adults</label> <br>
            <select name="Adults" id=""  class="select" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
    
            </select>
        </div>
        <div>
            <label for="">children</label> <br>
            <select name="child" id="" class="select" >
                <option value="0">0</option>
            <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            
           
        </div>
        <div>
            <label for="">infrent</label> <br>
            <select name="" id=""  class="select" >
                <option value="0">0</option>
                <option value="1">1</option>
                    
                </select>
            
        </div>
    </div>
    <div>
        
    </div>
    <div>
        <label for="">Class Of Travel</label> <br>
        <select name="class" id="" >
            <option value="economy">Economy</option>
            <option value="First">First</option>
            <option value="Business">Business</option>
            <option value="Premium Economy">Premium Economy</option>
        </select>
    </div>
    
    <div>
        <label for="">Prefered Airline</label>
        <input type="text">
    </div>
    
    <div>
        <button routerLink="/viewflights">Search Flights</button>
    </div>
    </form>
</div>



    
    
    
    
        
