<section style="margin-left: 10px; margin-right: 10px;">
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button>Primary</button>
    <button mat-stroked-button>Accent</button>
    <button mat-stroked-button>Warn</button>
    <button mat-stroked-button>Disabled</button>
  </div>
  
</section>

<mat-card class="background-card" style="margin-left: 10px; margin-right: 10px;" >
  <!-- Content goes here -->
  <div class="text-container">
    <span class="text">Material Gatepass</span>
  </div>
</mat-card>

<div style="margin-left: 10px; margin-right: 10px;">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%">
      <mat-form-field appearance="outline">
        <mat-label>Type of Material</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <h2>Material Inward</h2>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%">

      <mat-form-field appearance="outline">
        <mat-label>Place of Visit</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayout.xs="column">
    <div fxFlex="25%" fxFlex.md="50%">
      <mat-form-field class="input-field" appearance="outline">
        <input matInput placeholder="Input 1">
      </mat-form-field>
    </div>
    <div fxFlex="25%">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Date *</mat-label>
      <input matInput placeholder="Choose a date" readonly>
      <mat-icon matSuffix class="calendar-icon">calendar_today</mat-icon>

    </mat-form-field>
  </div>

    <div fxFlex="25%">
    <mat-form-field class="input-field" appearance="outline">
      <mat-icon matSuffix class="time-icon">access_time</mat-icon>
      <input matInput placeholder="Input 3">
    </mat-form-field>
  </div>

    <div>
      <button mat-stroked-button class="flexible-button">Capture</button>

    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center" fxLayoutAlign.xs="stretch">
    <mat-form-field class="input-field" appearance="outline" fxFlex="100%" fxFlex.xs="auto">
      <input matInput placeholder="Input 1">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline" fxFlex="100%" fxFlex.xs="auto">
      <mat-label>Date *</mat-label>
      <input matInput placeholder="Choose a date" readonly>
      <mat-icon matSuffix class="calendar-icon">calendar_today</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline" fxFlex="100%" fxFlex.xs="auto">
      <mat-icon matSuffix class="time-icon">access_time</mat-icon>
      <input matInput placeholder="Input 3">
    </mat-form-field>
    <button mat-stroked-button class="flexible-button" fxFlex="100%" fxFlex.xs="auto">Capture</button>
  </div>
  <div class="container">
    <mat-form-field class="input-field" appearance="outline">
      <input matInput placeholder="Input 1">
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Date *</mat-label>
      <input matInput placeholder="Choose a date" readonly>
      <mat-icon matSuffix class="calendar-icon">calendar_today</mat-icon>

    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-icon matSuffix class="time-icon">access_time</mat-icon>
      <input matInput placeholder="Input 3">
    </mat-form-field>
    <button mat-stroked-button class="flexible-button">Capture</button>
  </div>

  <div>
    <h2>Vechile Details</h2>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="2px" fxLayout.xs="column">

    <mat-form-field appearance="outline">
      <mat-label>Vechile name</mat-label>
      <input matInput placeholder="Input 1">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vechile Type</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="2px" fxLayout.xs="column">

    <mat-form-field appearance="outline">
      <mat-label>Vechile Number *</mat-label>
      <input matInput placeholder="Input 1">

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vechile Color</mat-label>
      <input matInput placeholder="Input 1">

    </mat-form-field>


  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutGap.xs="2px" fxLayout.xs="column">
    <div fxFlex="">
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Vechile Picture</mat-label>
          <input matInput placeholder="Input 1">

        </mat-form-field> 
        <div>
          <button mat-stroked-button class="flexible-button">Choose File</button>

        </div>

      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Vechile Document</mat-label>
          <input matInput placeholder="Input 1">

        </mat-form-field> 
        <div>
          <button mat-stroked-button class="flexible-button">Choose File</button>

        </div>

      </div>
    </div>
    <div fxFlex="">
      <div fxLayout="row" fxLayoutGap="20px">
        <div>
          <mat-card class="centered-icon-card">
            <mat-card-content class="centered-icon-container" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="centered-icon material-icons-outlined">camera_alt</mat-icon>
            </mat-card-content>
          </mat-card>
          <div class="bottom-text">Vechile Picture</div>

        </div>

        <div>
          <mat-card class="centered-icon-card">
            <mat-card-content class="centered-icon-container">
              <mat-icon class="centered-icon material-icons-outlined">description</mat-icon>
            </mat-card-content>
          </mat-card>
          <div class="bottom-text">Vechile Document</div>

        </div>
      </div>

    </div>

  </div>

</div>